.site-footer {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    padding-top: 0rem;
    color: #9baec8;/*9e9e9e*/
}

.site-footer:before {
    content: '';
    width: 500px;
    height: 0px;
    background-color: #2b90d9;
    position: absolute;
    top: 0;
    left: calc(50% - 250px);
}

.site-footer .meta {
    color: #9baec8;
    font-size: 1rem;
    margin: 0.5rem 0;
}
